body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

h3 {
  color: #333;
  margin-top: 20px;
  margin-left: 25px; 
}

form {
  margin: 20px;
}

label {
  display: block; 
  font-weight: bold;
  margin: 10px;
}

input {
  width: 40%; 
  padding: 10px;
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}


button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; 
}

button:hover {
  background-color: #0056b3;
}


table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
}

th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

tr:nth-child(odd) {
      background-color: #fff;
    }